<footer class="footer bg-light">
	<a rel="noreferrer" aria-label=dev-image href="https://dev.to/jayantgoel001" target=_blank class="footer-dev wow slideInRight" data-wow-delay=0.1s data-toggle=tooltip data-placement=bottom data-html=true title=" <strong> <em>DEV</em> </strong>">
		<img alt=footer width=52 height=120 src="assets/images/monkey.webp" loading="lazy"/>
	</a>
	<div class=container>
		<div class=row>
			<div class=col-lg-12>
				<div class="text-center mt-5 mb-5"> <br>
					<ul class="social-icons mb-3 list-inline">
						<li class="list-inline-item">
							<a rel="noreferrer" aria-label=image href="https://github.com/JayantGoel001/" target=_blank data-toggle=tooltip data-placement=left data-html=true title=" <strong> <em>GitHub</em> </strong>"> <i class="fab fa-github dark"></i>
							</a>
						</li>
						<li class="list-inline-item">
							<a rel="noreferrer" aria-label=image href="https://gist.github.com/JayantGoel001/" target=_blank data-toggle=tooltip data-placement=top data-html=true title=" <strong> <em>Gists</em> </strong>">
								<img src="assets/images/gist.webp" width=20 height=20 alt=gist loading="lazy"/>
							</a>
						</li>
						<li class="list-inline-item"> <a rel="noreferrer" aria-label=image href="https://www.linkedin.com/in/JayantGoel001/" target=_blank data-toggle=tooltip data-placement=right data-html=true title=" <strong> <em>LinkedIn</em> </strong>"> <i class="fab fa-linkedin-in dark h6"></i> </a></li>
					</ul>
					<ul class="social-icons mb-3 list-inline">
						<li class="list-inline-item"> <a rel="noreferrer" aria-label=image href="https://www.instagram.com/jayantgoel001/" target=_blank data-toggle=tooltip data-placement=left data-html=true title=" <strong> <em>Instagram</em> </strong>"> <i class="fab fa-instagram dark h6"></i> </a></li>
						<li class="list-inline-item"> <a rel="noreferrer" aria-label=image href="https://www.facebook.com/jayant.goel.12/" target=_blank data-toggle=tooltip data-placement=bottom data-html=true title=" <strong> <em>Facebook</em> </strong>"> <i class="fab fa-facebook dark"></i> </a></li>
						<li class="list-inline-item"> <a rel="noreferrer" aria-label=image href="https://twitter.com/JayantGoel001/" target=_blank data-toggle=tooltip data-placement=right data-html=true title=" <strong> <em>Twitter</em> </strong>"> <i class="fab fa-twitter dark"></i> </a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<p class="wow flipInX copyright-desc text-white mb-0 h6 mt-2" data-wow-delay=0.1s>Designed with <i class="fas fa-heart text-danger"></i> By Jayant Goel</p>
</footer>
