<nav class="navbar navbar-expand-lg fixed-top navbar-custom sticky sticky-dark">
	<div class=container>
		<a rel="noreferrer" aria-label="home" class="navbar-brand logo text-uppercase" href="/" data-toggle="tooltip" data-placement="bottom" data-html="true" title=" <strong> <em>{{navbarData['name']}} Personal Portfolio</em> </strong>"> {{navbarData['name']}} </a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			<i class="fas fa-bars"></i>
		</button>
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="navbar-nav ml-auto navbar-center" id="mySidenav">
				<li *ngFor="let navLink of navbarData['links']" [ngClass]="{'nav-item' : navLink != '','active' : navLink==activeClass}"><a rel="noreferrer" aria-label="home" href="#{{navLink.toLowerCase()}}" class="nav-link" data-toggle="tooltip" data-placement="bottom" data-html=true title=" <strong> <em>{{navLink.toUpperCase()}}</em> </strong>"> {{navLink}} </a></li>
			</ul>
		</div>
	</div>
</nav>
