<section class="section contact-wrapper bg-contact pointer" id=contact>
	<div id=particles-js2></div>
	<div class=container>
		<div class="row justify-content-center txt-bg txt-bg-contact">
			<div class=col-lg-6>
				<div class="section-title text-center mb-4 pb-2 wow fadeIn">
					<div class="mb-5 pb-3"> <i class="fas fa-headset h1"></i></div>
					<h3 class=text-white>Contact me</h3>
					<p class="text-white-50 mx-auto mb-0 mt-4 para-desc">Address, Phone Number and Email Address.</p>
				</div>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-lg-3 col-md-4 mt-4 pt-2 wow slideInLeft" data-wow-delay=0.1s data-toggle=tooltip data-placement=bottom data-html=true title=" <strong> <em>Location</em> </strong>">
				<div class="contact-desc text-center">
					<div class="contact-icon mb-3"> <i class="fas fa-street-view text-custom h3"></i></div>
					<div class=contact-details>
						<p class=mb-0> <a rel=noreferrer target=_blank class=contact-links href="https://maps.google.com/?q=Ghaziabad,Uttar+Pradesh">Ghaziabad, Uttar Pradesh, India</a></p>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-4 mt-4 pt-2 wow slideInUp" data-wow-delay=0.1s data-toggle=tooltip data-placement=bottom data-html=true title=" <strong> <em>Contact Number</em> </strong>">
				<div class="contact-desc text-center">
					<div class="contact-icon mb-3"> <i class="fas fa-mobile-alt text-custom h3"></i></div>
					<div class=contact-details>
						<p class=mb-1> <a rel=noreferrer aria-label=image href=tel:+91-8377838183 class=contact-links>+91-8377838183</a></p>
						<p class=mb-1> <a rel=noreferrer aria-label=image href=tel:+91-8076331756 class=contact-links>+91-8076331756</a></p>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-4 mt-4 pt-2 wow slideInRight" data-wow-delay=0.1s data-toggle=tooltip data-placement=bottom data-html=true title=" <strong> <em>E-Mail</em> </strong>">
				<div class="contact-desc text-center">
					<div class="contact-icon mb-3"> <i class="far fa-envelope text-custom h3"></i></div>
					<div class=contact-details>
						<p class=mb-0> <a rel=noreferrer aria-label=image href=mailto:jgoel92@gmail.com class=contact-links>jgoel92@gmail.com</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
