.splash {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 270px;
	height: 270px;
	box-sizing: border-box;
	background: #090909;
}

.splash .splash-circle {
	position: absolute;
	border: 2px solid #121212
}

.splash .splash-circle.circle-1 {
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: #090909;
	box-shadow: 0 0 10px #000;
	border-radius: 50%;
	border-left: 2px solid #ff0;
	border-top: 2px solid #ff0;
	animation: animate 3s linear infinite
}

.splash .splash-circle.circle-2 {
	top: 30px;
	left: 30px;
	bottom: 30px;
	right: 30px;
	background: #090909;
	box-shadow: 0 0 10px #000;
	border-radius: 50%;
	border-right: 2px solid #03a9f4;
	border-bottom: 2px solid #03a9f4;
	animation: animate 3s linear reverse infinite
}

.splash .splash-circle .circle-animation {
	position: absolute;
	top: calc(50% - 1px);
	left: 50%;
	width: 50%;
	height: 2px;
	background: #090909;
	transform-origin: left
}

.splash .splash-circle.circle-1 .circle-animation {
	transform: rotate(-45deg)
}

.splash .splash-circle.circle-2 .circle-animation {
	transform: rotate(-45deg)
}

.splash .splash-circle .circle-animation:before {
	content: "";
	position: absolute;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #fff;
	top: -4px;
	right: -6px
}

.splash .splash-circle.circle-1 .circle-animation:before {
	background: #ff0;
	box-shadow: 0 0 20px #ff0, 0 0 40px #ff0, 0 0 60px #ff0, 0 0 80px #ff0, 0 0 100px #ff0, 0 0 0 5px rgba(255, 255, 0, .1)
}

.splash .splash-circle.circle-2 .circle-animation:before {
	background: #03a9f4;
	box-shadow: 0 0 20px #03a9f4, 0 0 40px #03a9f4, 0 0 60px #03a9f4, 0 0 80px #03a9f4, 0 0 100px #03a9f4, 0 0 0 5px rgba(3, 169, 244, .1)
}
