<section class="section pointer bg-light" id=portfolio>
	<div class=container>
		<div class="row justify-content-center txt-bg txt-bg-portfolio">
			<div class=col-lg-6>
				<div class="wow fadeIn section-title text-center mb-4 pb-2">
					<div class="mb-5 pb-3"> <i class="far fa-clone h1 text-muted"></i></div>
					<div class="h3 font-weight-bold">My Portfolio</div>
					<p class="text-muted mx-auto mb-0 mt-4 para-desc">Sample of some of my projects</p>
				</div>
			</div>
		</div>
		<div class="row container-grid projects-wrapper mt-4 pt-2">
			<div class="wow rotateInDownLeft col-lg-4 spacing" data-wow-delay=0.5s>
				<div class="item-box m-2">
					<a rel="noreferrer" aria-label="home" href="https://github.com/JayantGoel001/AI-Image-Caption-Bot" target="_blank" data-toggle=tooltip data-placement=top data-html=true title=" <strong> <em>Click To Checkout My Code.</em> </strong>"> <img class="item-container img-fluid mx-auto" src="assets/images/aiicb.webp" alt="Project-1" width=1030 height=800 loading="lazy"/><div class=item-mask><div class="item-caption text-white text-center"><h5>AI Image Caption Bot</h5><p class=text-uppercase> AI Image Caption Bot is a special project which uses almost every topic of data science and Machine Learning. In this project, we can upload assets/images and bot will predict the caption of that image</p></div></div> </a></div>
			</div>
			<div class="wow slideInUp col-lg-4 spacing">
				<div class="item-box m-2"> <a rel="noreferrer" aria-label="home" href="https://github.com/JayantGoel001/AI-Music-Generation" target=_blank data-toggle=tooltip data-placement=top data-html=true title=" <strong> <em>Click To Checkout My Code.</em> </strong>"> <img class="item-container img-fluid mx-auto" src="assets/images/aimg.webp" alt="Project-2" width=1030 height=800 loading="lazy"/><div class=item-mask><div class="item-caption text-white text-center"><h5>AI Music Generation</h5><p class=text-uppercase>In this project we were able to generates melodious sound of piano by mixing different nodes and chords By training on LSTM Model.</p></div></div> </a></div>
			</div>
			<div class="wow rotateInDownRight col-lg-4 spacing" data-wow-delay=0.5s>
				<div class="item-box m-2"> <a rel="noreferrer" aria-label="home" href="https://github.com/JayantGoel001/School-Donation-Analysis" target=_blank data-toggle=tooltip data-placement=top data-html=true title=" <strong> <em>Click To Checkout My Code.</em> </strong>"> <img class="item-container img-fluid mx-auto" src="assets/images/sda.webp" alt="Project-3" width=1030 height=800 loading="lazy"/><div class=item-mask><div class="item-caption text-white text-center"><h5>A School Donation Analysis</h5><p class=text-uppercase>Using School Donation Datasets,I was able to Analysed and Visualized using numpy and pandas & plotly, Cufflinks and Matplotlib respectively.</p></div></div> </a></div>
			</div>
			<div class="wow rotateInUpLeft col-lg-4 spacing" data-wow-delay=0.5s>
				<div class="item-box m-2"> <a rel="noreferrer" aria-label="image" href="https://github.com/JayantGoel001/A-Social-Media" target=_blank data-toggle=tooltip data-placement=bottom data-html=true title=" <strong> <em>Click To Checkout My Code.</em> </strong>"> <img class="item-container img-fluid mx-auto" src="assets/images/asm.webp" alt="Project-4" width=1030 height=800 loading="lazy"/><div class=item-mask><div class="item-caption text-white text-center"><h5>A Social Media</h5><p class=text-uppercase> A Social Media Is an application developed with MEAN Stack Development. In this application, you can make friends ,besties and enemy, allow user to share their thoughts as post and can chat through one-to-one messages.</p></div></div> </a></div>
			</div>
			<div class="wow slideInDown col-lg-4 spacing">
				<div class="item-box m-2"> <a rel="noreferrer" aria-label="image" href="https://github.com/JayantGoel001/E-Commerce-Site" target=_blank data-toggle=tooltip data-placement=bottom data-html=true title=" <strong> <em>Click To Checkout My Code.</em> </strong>">
					<img class="item-container img-fluid mx-auto" src="assets/images/ecs.webp" alt="Project-5" width=1030 height=800 loading="lazy"/>
					<div class=item-mask><div class="item-caption text-white text-center"><h5>E-Commerce Site</h5><p class=text-uppercase>Created An E-Commerce Site using Reactjs, REDUX, HTML, CSS and JavaScript where a user can buy product, add it to cart and added PayPal Button to make payment.</p></div></div> </a></div>
			</div>
			<div class="wow rotateInUpRight col-lg-4 spacing" data-wow-delay="0.5s">
				<div class="item-box m-2">
					<a rel="noreferrer" aria-label="image" href="https://github.com/JayantGoel001/URL-Shortner" target="_blank" data-toggle="tooltip" data-placement="bottom" data-html="true" title=" <strong> <em>Click To Checkout My Code.</em> </strong>">
						<img class="item-container img-fluid mx-auto" src="assets/images/us.webp" alt="Project-6" width="1030" height="800" loading="lazy"/>
						<div class=item-mask>
							<div class="item-caption text-white text-center">
								<h5>URL Shortner</h5>
								<p class=text-uppercase>Created An Web Application which help us to shorten the URL by using Firebase Firestore as Database and Bootstrap for Front end.</p>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
